$icons-font-family: "icons" !default;
$icons-font-path: "fonts" !default;

$icons-activity: "\e900";
$icons-airplay: "\e901";
$icons-alert-circle: "\e902";
$icons-alert-octagon: "\e903";
$icons-alert-triangle: "\e904";
$icons-align-center: "\e905";
$icons-align-justify: "\e906";
$icons-align-left: "\e907";
$icons-align-right: "\e908";
$icons-anchor: "\e909";
$icons-aperture: "\e90a";
$icons-archive: "\e90b";
$icons-arrow-down: "\e90c";
$icons-arrow-down-circle: "\e90d";
$icons-arrow-down-left: "\e90e";
$icons-arrow-down-right: "\e90f";
$icons-arrow-left: "\e910";
$icons-arrow-left-circle: "\e911";
$icons-arrow-right: "\e912";
$icons-arrow-right-circle: "\e913";
$icons-arrow-up: "\e914";
$icons-arrow-up-circle: "\e915";
$icons-arrow-up-left: "\e916";
$icons-arrow-up-right: "\e917";
$icons-at-sign: "\e918";
$icons-award: "\e919";
$icons-bar-chart: "\e91a";
$icons-bar-chart-2: "\e91b";
$icons-battery: "\e91c";
$icons-battery-charging: "\e91d";
$icons-bell: "\e91e";
$icons-bell-off: "\e91f";
$icons-bluetooth: "\e920";
$icons-bold: "\e921";
$icons-book: "\e922";
$icons-book-open: "\e923";
$icons-bookmark: "\e924";
$icons-box: "\e925";
$icons-briefcase: "\e926";
$icons-calendar: "\e927";
$icons-camera: "\e928";
$icons-camera-off: "\e929";
$icons-cast: "\e92a";
$icons-check: "\e92b";
$icons-check-circle: "\e92c";
$icons-check-square: "\e92d";
$icons-chevron-down: "\e92e";
$icons-chevron-left: "\e92f";
$icons-chevron-right: "\e930";
$icons-chevron-up: "\e931";
$icons-chevrons-down: "\e932";
$icons-chevrons-left: "\e933";
$icons-chevrons-right: "\e934";
$icons-chevrons-up: "\e935";
$icons-chrome: "\e936";
$icons-circle: "\e937";
$icons-clipboard: "\e938";
$icons-clock: "\e939";
$icons-cloud: "\e93a";
$icons-cloud-drizzle: "\e93b";
$icons-cloud-lightning: "\e93c";
$icons-cloud-off: "\e93d";
$icons-cloud-rain: "\e93e";
$icons-cloud-snow: "\e93f";
$icons-code: "\e940";
$icons-codepen: "\e941";
$icons-codesandbox: "\e942";
$icons-coffee: "\e943";
$icons-columns: "\e944";
$icons-command: "\e945";
$icons-compass: "\e946";
$icons-copy: "\e947";
$icons-corner-down-left: "\e948";
$icons-corner-down-right: "\e949";
$icons-corner-left-down: "\e94a";
$icons-corner-left-up: "\e94b";
$icons-corner-right-down: "\e94c";
$icons-corner-right-up: "\e94d";
$icons-corner-up-left: "\e94e";
$icons-corner-up-right: "\e94f";
$icons-cpu: "\e950";
$icons-credit-card: "\e951";
$icons-crop: "\e952";
$icons-crosshair: "\e953";
$icons-database: "\e954";
$icons-delete: "\e955";
$icons-disc: "\e956";
$icons-dollar-sign: "\e957";
$icons-download: "\e958";
$icons-download-cloud: "\e959";
$icons-droplet: "\e95a";
$icons-edit: "\e95b";
$icons-edit-2: "\e95c";
$icons-edit-3: "\e95d";
$icons-external-link: "\e95e";
$icons-eye: "\e95f";
$icons-eye-off: "\e960";
$icons-facebook: "\e961";
$icons-fast-forward: "\e962";
$icons-feather: "\e963";
$icons-figma: "\e964";
$icons-file: "\e965";
$icons-file-minus: "\e966";
$icons-file-plus: "\e967";
$icons-file-text: "\e968";
$icons-film: "\e969";
$icons-filter: "\e96a";
$icons-flag: "\e96b";
$icons-folder: "\e96c";
$icons-folder-minus: "\e96d";
$icons-folder-plus: "\e96e";
$icons-framer: "\e96f";
$icons-frown: "\e970";
$icons-gift: "\e971";
$icons-git-branch: "\e972";
$icons-git-commit: "\e973";
$icons-git-merge: "\e974";
$icons-git-pull-request: "\e975";
$icons-github: "\e976";
$icons-gitlab: "\e977";
$icons-globe: "\e978";
$icons-grid: "\e979";
$icons-hard-drive: "\e97a";
$icons-hash: "\e97b";
$icons-headphones: "\e97c";
$icons-heart: "\e97d";
$icons-help-circle: "\e97e";
$icons-hexagon: "\e97f";
$icons-home: "\e980";
$icons-image: "\e981";
$icons-inbox: "\e982";
$icons-info: "\e983";
$icons-instagram: "\e984";
$icons-italic: "\e985";
$icons-key: "\e986";
$icons-layers: "\e987";
$icons-layout: "\e988";
$icons-life-buoy: "\e989";
$icons-link: "\e98a";
$icons-link-2: "\e98b";
$icons-linkedin: "\e98c";
$icons-list: "\e98d";
$icons-loader: "\e98e";
$icons-lock: "\e98f";
$icons-log-in: "\e990";
$icons-log-out: "\e991";
$icons-mail: "\e992";
$icons-map: "\e993";
$icons-map-pin: "\e994";
$icons-maximize: "\e995";
$icons-maximize-2: "\e996";
$icons-meh: "\e997";
$icons-menu: "\e998";
$icons-message-circle: "\e999";
$icons-message-square: "\e99a";
$icons-mic: "\e99b";
$icons-mic-off: "\e99c";
$icons-minimize: "\e99d";
$icons-minimize-2: "\e99e";
$icons-minus: "\e99f";
$icons-minus-circle: "\e9a0";
$icons-minus-square: "\e9a1";
$icons-monitor: "\e9a2";
$icons-moon: "\e9a3";
$icons-more-horizontal: "\e9a4";
$icons-more-vertical: "\e9a5";
$icons-mouse-pointer: "\e9a6";
$icons-move: "\e9a7";
$icons-music: "\e9a8";
$icons-navigation: "\e9a9";
$icons-navigation-2: "\e9aa";
$icons-octagon: "\e9ab";
$icons-package: "\e9ac";
$icons-paperclip: "\e9ad";
$icons-pause: "\e9ae";
$icons-pause-circle: "\e9af";
$icons-pen-tool: "\e9b0";
$icons-percent: "\e9b1";
$icons-phone: "\e9b2";
$icons-phone-call: "\e9b3";
$icons-phone-forwarded: "\e9b4";
$icons-phone-incoming: "\e9b5";
$icons-phone-missed: "\e9b6";
$icons-phone-off: "\e9b7";
$icons-phone-outgoing: "\e9b8";
$icons-pie-chart: "\e9b9";
$icons-play: "\e9ba";
$icons-play-circle: "\e9bb";
$icons-plus: "\e9bc";
$icons-plus-circle: "\e9bd";
$icons-plus-square: "\e9be";
$icons-pocket: "\e9bf";
$icons-power: "\e9c0";
$icons-printer: "\e9c1";
$icons-radio: "\e9c2";
$icons-refresh-ccw: "\e9c3";
$icons-refresh-cw: "\e9c4";
$icons-repeat: "\e9c5";
$icons-rewind: "\e9c6";
$icons-rotate-ccw: "\e9c7";
$icons-rotate-cw: "\e9c8";
$icons-rss: "\e9c9";
$icons-save: "\e9ca";
$icons-scissors: "\e9cb";
$icons-search: "\e9cc";
$icons-send: "\e9cd";
$icons-server: "\e9ce";
$icons-settings: "\e9cf";
$icons-share: "\e9d0";
$icons-share-2: "\e9d1";
$icons-shield: "\e9d2";
$icons-shield-off: "\e9d3";
$icons-shopping-bag: "\e9d4";
$icons-shopping-cart: "\e9d5";
$icons-shuffle: "\e9d6";
$icons-sidebar: "\e9d7";
$icons-skip-back: "\e9d8";
$icons-skip-forward: "\e9d9";
$icons-slack: "\e9da";
$icons-slash: "\e9db";
$icons-sliders: "\e9dc";
$icons-smartphone: "\e9dd";
$icons-smile: "\e9de";
$icons-speaker: "\e9df";
$icons-square: "\e9e0";
$icons-star: "\e9e1";
$icons-stop-circle: "\e9e2";
$icons-sun: "\e9e3";
$icons-sunrise: "\e9e4";
$icons-sunset: "\e9e5";
$icons-tablet: "\e9e6";
$icons-tag: "\e9e7";
$icons-target: "\e9e8";
$icons-terminal: "\e9e9";
$icons-thermometer: "\e9ea";
$icons-thumbs-down: "\e9eb";
$icons-thumbs-up: "\e9ec";
$icons-toggle-left: "\e9ed";
$icons-toggle-right: "\e9ee";
$icons-tool: "\e9ef";
$icons-trash: "\e9f0";
$icons-trash-2: "\e9f1";
$icons-trello: "\e9f2";
$icons-trending-down: "\e9f3";
$icons-trending-up: "\e9f4";
$icons-triangle: "\e9f5";
$icons-truck: "\e9f6";
$icons-tv: "\e9f7";
$icons-twitch: "\e9f8";
$icons-twitter: "\e9f9";
$icons-type: "\e9fa";
$icons-umbrella: "\e9fb";
$icons-underline: "\e9fc";
$icons-unlock: "\e9fd";
$icons-upload: "\e9fe";
$icons-upload-cloud: "\e9ff";
$icons-user: "\ea00";
$icons-user-check: "\ea01";
$icons-user-minus: "\ea02";
$icons-user-plus: "\ea03";
$icons-user-x: "\ea04";
$icons-users: "\ea05";
$icons-video: "\ea06";
$icons-video-off: "\ea07";
$icons-voicemail: "\ea08";
$icons-volume: "\ea09";
$icons-volume-1: "\ea0a";
$icons-volume-2: "\ea0b";
$icons-volume-x: "\ea0c";
$icons-watch: "\ea0d";
$icons-wifi: "\ea0e";
$icons-wifi-off: "\ea0f";
$icons-wind: "\ea10";
$icons-x: "\ea11";
$icons-x-circle: "\ea12";
$icons-x-octagon: "\ea13";
$icons-x-square: "\ea14";
$icons-youtube: "\ea15";
$icons-zap: "\ea16";
$icons-zap-off: "\ea17";
$icons-zoom-in: "\ea18";
$icons-zoom-out: "\ea19";

