/**
	Includes the colors
 */



$color-dark: #222;
$color-light: #f9f9f9;

$color-white: #fff;

$color-background: #f9f9f9;

// link colors
$color-link: #00716b;
$color-link-light: #00857a;
$color-link-dark: #005e5d;
$color-link-shadow: rgba(0,123,255,25%);

// abn green
$color-green: #17928c;

// blue
$color-blue: #cce5ff;
$color-blue-dark: #004085;

// red
$color-red: #f8d7da;
$color-red-dark: #721c24;
$color-red-bright: #b91a18;
