/**
	Contains the keyframes
 */

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes checkboxBounceIn {
    0% {
        opacity: 0;
        transform: scale(.8);
    }
    25% {
        opacity: 1;
    }
    75% {
        transform: scale(1.3);
        opacity: 1;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}